<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navigation menu-link" href="#start">Kompassen - alltid på rätt kurs</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a class="navigation" href="#start">Start</a></li>
                <li><a class="navigation" href="#courses">Kurser</a></li>
                <li><a class="navigation" href="#students">Studenter</a></li>
                <li><a class="navigation" href="#addCourse">Ny kurs</a></li>
                <li style="display:none"><a class="navigation" href="#addStudent">Ny student</a></li>
            </ul>
        </div>
    </div>
</nav>
